h1, h2, h3, h4, ul,ol {
    text-align: center;
}

p{
    text-align: center;
    font-size: large;
}

#baslik {
    color:red;
}

#kategori {
    text-align: center;
    padding: 1cm;
}

img {
    height: 320px;
    padding-top: 10rem;
}